* { margin: 0%;
    padding: 0%;}

body {background-color: coral;}


#CONTEINER { /*width:  70%;*/ 
    width: 1100px;
    margin: auto;
    border: 1px;
          }
 header {background-image: url(../ferrari2.jpg);
        color: rgb(129, 0, 0) ;
        height: 100px; 
        width : 100%;
        align-items: center;

        border-bottom: 3px;
        line-height: 100px;
        text-align: center 
        
        }

nav ul li{float: left;
          list-style: none;
        margin: 10px;
              }
.clearfix{clear: both;

}

nav{background-color: aqua;
    height: 50px;
    line-height: 30px;
    border-bottom: 1px solid; 
}

aside{  float: left;
        width: 80%;
        background-color: rgb(243, 231, 138);     
        min-height:  500px;}

#content{float: left;
        width: 20%;
        height: 40%;
        background-color: rgb(80, 145, 106);
    min-height: 500px;}

footer{background-color: cadetblue;
       color: brown;
    text-align: center;
    height: 50px;
    line-height: 50px;}

article{color: red;
        margin: 15px;
        margin-bottom: 15px;
        padding-bottom: 10px;            
        border-bottom: 1px solid;    }  
        
.article{padding: top 10px;
         border-top: 1px solid rgb(0, 0, 0)   } 

article h2{font-size: 25px;}