body{background-color: rgb(246, 255, 190) ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.caja{ 
        border: 2px solid rgb(237, 232, 149);
        background-color: aqua;
        padding: 20px;
        text-align: center;
        

}
.grid-layout{ display: grid;
             height: 650px;
             width: auto;        
            grid-template-areas:'cabecera cabecera cabecera'
                                'menu menu menu'
                                'contenido contenido lateral'
                                'footer footer footer';  
            grid-template-rows: 20% 10% auto 10% ;
            grid-template-columns: auto auto auto;         
           
            background-color: rgb(32, 202, 145); 
            
            border: 1px solid black;



}
.c1{grid-area: cabecera;
background-color: rgb(13, 5, 33);}

.c2{grid-area: menu;
background-color: rgb(107, 105, 26);}

.c3{ grid-area: contenido;
     background-color: rgb(255, 255, 255);   }

.c4{grid-area: lateral;
background-color: rgb(192, 160, 0);}

.c5{grid-area: footer;
background-color: rgb(0, 74, 99);
}